In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from tqdm import tqdm

# df_1

In [2]:
df_1=pd.read_csv('20230109102255_중심 관광지.csv',encoding='cp949')
df_1.head(2)

,중심 POI X 좌표,중심 POI Y 좌표,관광지명,주소,중심카테고리 명_대,분류,순위
0,126.5638,33.2494,서귀포매일올레시장,제주 서귀포시 중앙로62번길 18-0,관광지,쇼핑,1
1,126.4928,33.5070,제주국제공항,제주 제주시 공항로 2-0,관광지,기타관광,2

In [3]:
df_1=df_1.drop(['순위','분류'],axis=1)
df_1.head(2)

   중심 POI X 좌표  중심 POI Y 좌표       관광지명                    주소 중심카테고리 명_대
0     126.5638      33.2494  서귀포매일올레시장  제주 서귀포시 중앙로62번길 18-0        관광지
1     126.4928      33.5070     제주국제공항        제주 제주시 공항로 2-0        관광지

In [4]:
new_index=df_1[df_1['중심카테고리 명_대']=='숙박'].index

df_1=df_1.drop(new_index)

In [5]:
df_1=df_1.rename(columns={'중심 POI X 좌표':'lng','중심 POI Y 좌표':'lat'})
df_1

         lng      lat       관광지명                    주소 중심카테고리 명_대
0   126.5638  33.2494  서귀포매일올레시장  제주 서귀포시 중앙로62번길 18-0        관광지
1   126.4928  33.5070     제주국제공항        제주 제주시 공항로 2-0        관광지
2   126.5275  33.5122     동문재래시장    제주 제주시 관덕로14길 20-0        관광지
3   126.9418  33.4582      성산일출봉    제주 서귀포시 일출로 284-12        관광지
4   126.2396  33.3941     협재해수욕장                제주 제주시        관광지
..       ...      ...        ...                   ...        ...
92  126.2716  33.2854  제주곶자왈도립공원   제주 서귀포시 에듀시티로 178-0        관광지
93  126.4921  33.4697      한라수목원      제주 제주시 수목원길 72-0        관광지
94  126.7436  33.4240    제주워터서커스    제주 제주시 번영로 2172-80        관광지
98  126.9676  33.5151        비양도                제주 제주시        관광지
99  126.4520  33.5018  이호랜드방파제등대       제주 제주시 도리로 20-0        관광지

[78 rows x 5 columns]

In [6]:
df_1=df_1.reset_index().drop(['index'],axis=1)

In [7]:
# 제주도 내의 읍, 면 관광지 x
df_1['주소'].str.contains('읍').sum(),df_1['주소'].str.contains('면').sum()


addr=[]
for i in tqdm(range(len(df_1['주소']))):
    if df_1['주소'][i].find('제주시')==-1:
        addr.append('제주특별자치도 서귀포시')
    else:
        addr.append('제주특별자치도 제주시')



df_1['주소'] = addr

100%|██████████| 78/78 [00:00<00:00, 78192.09it/s]

In [8]:
df_1['lng']=df_1['lng'].astype(str).str[:7]
df_1['lat']=df_1['lat'].astype(str).str[:6]
df_1

        lng     lat       관광지명            주소 중심카테고리 명_대
0   126.563  33.249  서귀포매일올레시장  제주특별자치도 서귀포시        관광지
1   126.492  33.507     제주국제공항   제주특별자치도 제주시        관광지
2   126.527  33.512     동문재래시장   제주특별자치도 제주시        관광지
3   126.941  33.458      성산일출봉  제주특별자치도 서귀포시        관광지
4   126.239  33.394     협재해수욕장   제주특별자치도 제주시        관광지
..      ...     ...        ...           ...        ...
73  126.271  33.285  제주곶자왈도립공원  제주특별자치도 서귀포시        관광지
74  126.492  33.469      한라수목원   제주특별자치도 제주시        관광지
75  126.743  33.424    제주워터서커스   제주특별자치도 제주시        관광지
76  126.967  33.515        비양도   제주특별자치도 제주시        관광지
77  126.452  33.501  이호랜드방파제등대   제주특별자치도 제주시        관광지

[78 rows x 5 columns]

In [9]:
df_1[df_1.duplicated(['lng','lat'],keep=False)]

        lng     lat        관광지명            주소 중심카테고리 명_대
36  126.934  33.472  성산포종합여객터미널  제주특별자치도 서귀포시        관광지
60  126.934  33.472    우도도항선선착장  제주특별자치도 서귀포시        관광지

In [10]:
df_1=df_1.drop_duplicates(['lng','lat'])

In [11]:
df_1.head(2)

       lng     lat       관광지명            주소 중심카테고리 명_대
0  126.563  33.249  서귀포매일올레시장  제주특별자치도 서귀포시        관광지
1  126.492  33.507     제주국제공항   제주특별자치도 제주시        관광지

In [12]:
df_1=df_1.drop(['중심카테고리 명_대'],axis=1)

# df_2

In [13]:
df_2=pd.read_csv('20230109102418_인기관광지_전체.csv',encoding='cp949')
df_2.head(2)

   순위    관광지명                  주소    분류  합산 검색 수
0   1  제주국제공항      제주 제주시 공항로 2-0  교통시설   803524
1   2  동문재래시장  제주 제주시 관덕로14길 20-0    시장   301089

In [14]:
df_2=df_2.drop(['순위'],axis=1)

In [15]:
# 제주도 내의 읍, 면 관광지 x
df_2['주소'].str.contains('읍').sum(),df_2['주소'].str.contains('면').sum()


addr=[]
for i in tqdm(range(len(df_2['주소']))):
    if df_2['주소'][i].find('제주시')==-1:
        addr.append('제주특별자치도 서귀포시')
    else:
        addr.append('제주특별자치도 제주시')



df_2['주소'] = addr

100%|██████████| 100/100 [00:00<00:00, 20037.76it/s]

In [16]:
df_2['분류'].unique()

array(['교통시설', '시장', '자연경관(하천/해양)', '자연경관(산)', '전시시설', '기타관광', '대형마트',
       '테마공원', '기타레저스포츠', '호텔', '자연공원', '데이트코스', '콘도미니엄', '면세점', '자연생태',
       '복합관광시설', '기타문화관광지', '웰니스관광', '도시공원', '자연관광(산)', '종교성지', '역사유적지'],
      dtype=object)

In [17]:
df_2=df_2[np.logical_and(df_2['분류']!='호텔',df_2['분류']!='콘도미니엄')]

In [18]:
df_2.head(2)

     관광지명           주소    분류  합산 검색 수
0  제주국제공항  제주특별자치도 제주시  교통시설   803524
1  동문재래시장  제주특별자치도 제주시    시장   301089

# df_3

In [19]:
df_3=pd.read_csv('내국인관광지입장객수추이.csv',encoding='cp949')
df_3.head(2)

        날짜         관광지명   관광객수
0  2009.01  (주)제주미니미니랜드  11484
1  2009.01      국립제주박물관  26913

In [20]:
df_3=df_3[df_3['날짜'].astype(str).str[:4]=='2019']

In [21]:
df_3=df_3.groupby('관광지명').mean().reset_index()

In [22]:
df_3=df_3[['날짜','관광지명','관광객수']]

In [23]:
df_3=df_3.rename(columns={'관광객수':'내국인 관광객수'})

In [24]:
df_3['날짜']=df_3['날짜'].astype(str).str[:4]

In [25]:
df_3.head(2)

     날짜         관광지명  내국인 관광객수
0  2019  (주)제주미니미니랜드       0.0
1  2019        감귤박물관   10366.0

# df_4

In [26]:
df_4=pd.read_csv('제주특별자치도_제주도장소(POI)데이터_20151231.csv',encoding='cp949')
df_4.head(2)

,장소 POI에 대한 ID 구분 번호 체계,위치좌표 X축값,위치좌표 Y축값,구분,장소명,소재지,데이터기준일자
0,3,126.568803,33.236546,교통시설,동방파제,제주특별자치도 서귀포시 서귀동 758-2,2015-12-31
1,4,126.562554,33.235071,지명관련,새섬,제주특별자치도 서귀포시 서귀동 산 3-3,2015-12-31

In [27]:
df_4=df_4.drop([df_4.columns[0],df_4.columns[-1]],axis=1)

In [28]:
df_4=df_4.rename(columns={df_4.columns[0]:'lng',df_4.columns[1]:'lat'})

In [29]:
jj_reg=['한림읍','애월읍','구좌읍','조천읍','한경면','추자면','우도면']
seo_reg=['대정읍','남원읍','성산읍','안덕면','표선면']

reg_lst=[]

for addr in tqdm(df_4['소재지']):
    if addr.find('제주시')==-1:
        if addr.split(' ')[2] in seo_reg:
            reg_lst.append('제주특별자치도 서귀포시 '+addr.split(' ')[2])
        else:
            reg_lst.append('제주특별자치도 서귀포시')
    else:
        if addr.split(' ')[2] in jj_reg:
            reg_lst.append('제주특별자치도 제주시 '+addr.split(' ')[2])
        else:
            reg_lst.append('제주특별자치도 제주시')

100%|██████████| 74439/74439 [00:00<00:00, 308427.98it/s]

In [30]:
df_4['소재지'] = reg_lst

In [31]:
df_4.head(2)

          lng        lat    구분   장소명           소재지
0  126.568803  33.236546  교통시설  동방파제  제주특별자치도 서귀포시
1  126.562554  33.235071  지명관련    새섬  제주특별자치도 서귀포시

In [32]:
df_4['lng']=df_4['lng'].astype(str).str[:7]
df_4['lat']=df_4['lat'].astype(str).str[:6]

In [33]:
df_4.head(2)

       lng     lat    구분   장소명           소재지
0  126.568  33.236  교통시설  동방파제  제주특별자치도 서귀포시
1  126.562  33.235  지명관련    새섬  제주특별자치도 서귀포시

# df_5

In [34]:
df_5=pd.read_csv('외국인관광지입장객수추이.csv',encoding='cp949')

In [35]:
df_5=df_5[df_5['날짜'].astype(str).str[:4]=='2019']
df_5=df_5.groupby('관광지명').mean().reset_index()

In [36]:
df_5['날짜']=df_5['날짜'].astype(str).str[:4]
df_5=df_5.rename(columns={'관광객수':'외국인 관광객수'})
df_5=df_5[['날짜','관광지명','외국인 관광객수']]

In [37]:
df_5.head(2)

     날짜         관광지명  외국인 관광객수
0  2019  (주)제주미니미니랜드      0.00
1  2019        감귤박물관    178.75

# preprocessing 및 merge

## 중복제거

- df_1

In [38]:
df_1.duplicated(['lng','lat']).sum(),df_1.duplicated().sum()

(0, 0)

- df_2

In [39]:
df_2[df_2.duplicated(['관광지명'],keep=False)]

    관광지명           주소       분류  합산 검색 수
61  새별오름  제주특별자치도 제주시  자연경관(산)    41777
92  새별오름  제주특별자치도 제주시  자연관광(산)    27747

In [40]:
df_2.at[61,'합산 검색 수']=df_2.at[61,'합산 검색 수']+df_2.at[92,'합산 검색 수']

In [41]:
df_2=df_2.drop_duplicates(['관광지명'])

- df_3

In [42]:
df_3.duplicated().sum()

0

- df_4

In [43]:
df_4['lng_lat']=df_4['lng']+'_'+df_4['lat']

In [44]:
df_4=df_4.drop_duplicates(['장소명'])

- df_5

In [45]:
df_5.duplicated().sum()

0

## merge

In [46]:
display(df_1.head(2),df_2.head(2),df_3.head(2),df_4.head(2),df_5.head(2))

       lng     lat       관광지명            주소
0  126.563  33.249  서귀포매일올레시장  제주특별자치도 서귀포시
1  126.492  33.507     제주국제공항   제주특별자치도 제주시

     관광지명           주소    분류  합산 검색 수
0  제주국제공항  제주특별자치도 제주시  교통시설   803524
1  동문재래시장  제주특별자치도 제주시    시장   301089

     날짜         관광지명  내국인 관광객수
0  2019  (주)제주미니미니랜드       0.0
1  2019        감귤박물관   10366.0

       lng     lat    구분   장소명           소재지         lng_lat
0  126.568  33.236  교통시설  동방파제  제주특별자치도 서귀포시  126.568_33.236
1  126.562  33.235  지명관련    새섬  제주특별자치도 서귀포시  126.562_33.235

     날짜         관광지명  외국인 관광객수
0  2019  (주)제주미니미니랜드      0.00
1  2019        감귤박물관    178.75

In [47]:
print(df_1.shape,df_2.shape,df_3.shape,df_4.shape,df_5.shape)

(77, 4) (77, 4) (51, 3) (65772, 6) (51, 3)

In [48]:
df_35=pd.merge(df_3,df_5,how='outer',left_on='관광지명',right_on='관광지명').drop(['날짜_x','날짜_y'],axis=1)

In [50]:
display(df_1.head(2),df_2.head(2),df_35.head(2),df_4.head(2))
print(df_1.shape,df_2.shape,df_35.shape,df_4.shape)

       lng     lat       관광지명            주소
0  126.563  33.249  서귀포매일올레시장  제주특별자치도 서귀포시
1  126.492  33.507     제주국제공항   제주특별자치도 제주시

     관광지명           주소    분류  합산 검색 수
0  제주국제공항  제주특별자치도 제주시  교통시설   803524
1  동문재래시장  제주특별자치도 제주시    시장   301089

          관광지명  내국인 관광객수  외국인 관광객수
0  (주)제주미니미니랜드       0.0      0.00
1        감귤박물관   10366.0    178.75

       lng     lat    구분   장소명           소재지         lng_lat
0  126.568  33.236  교통시설  동방파제  제주특별자치도 서귀포시  126.568_33.236
1  126.562  33.235  지명관련    새섬  제주특별자치도 서귀포시  126.562_33.235

(77, 4) (77, 4) (51, 3) (65772, 6)

- 구두점 및 쓸데없는 문자 제거

In [52]:
from nltk.corpus import stopwords
from string import punctuation

list_stopwords = set(stopwords.words('english') + list(punctuation))

df_1['관광지명']=df_1['관광지명'].apply(lambda x: [word for word in x if word not in list_stopwords])
df_1['관광지명']=df_1['관광지명'].apply(lambda x:('').join(x))
df_1['관광지명']=df_1['관광지명'].apply(lambda x:x.replace(' ',''))

df_2['관광지명']=df_2['관광지명'].apply(lambda x: [word for word in x if word not in list_stopwords])
df_2['관광지명']=df_2['관광지명'].apply(lambda x:('').join(x))
df_2['관광지명']=df_2['관광지명'].apply(lambda x:x.replace(' ',''))

df_35['관광지명']=df_35['관광지명'].apply(lambda x: [word for word in x if word not in list_stopwords])
df_35['관광지명']=df_35['관광지명'].apply(lambda x:('').join(x))
df_35['관광지명']=df_35['관광지명'].apply(lambda x:x.replace(' ',''))

df_4['장소명']=df_4['장소명'].apply(lambda x: [word for word in x if word not in list_stopwords])
df_4['장소명']=df_4['장소명'].apply(lambda x:('').join(x))
df_4['장소명']=df_4['장소명'].apply(lambda x:x.replace(' ',''))

In [53]:
display(df_1.head(2),df_2.head(2),df_35.head(2),df_4.head(2))
print(df_1.shape,df_2.shape,df_35.shape,df_4.shape)

       lng     lat       관광지명            주소
0  126.563  33.249  서귀포매일올레시장  제주특별자치도 서귀포시
1  126.492  33.507     제주국제공항   제주특별자치도 제주시

     관광지명           주소    분류  합산 검색 수
0  제주국제공항  제주특별자치도 제주시  교통시설   803524
1  동문재래시장  제주특별자치도 제주시    시장   301089

        관광지명  내국인 관광객수  외국인 관광객수
0  주제주미니미니랜드       0.0      0.00
1      감귤박물관   10366.0    178.75

       lng     lat    구분   장소명           소재지         lng_lat
0  126.568  33.236  교통시설  동방파제  제주특별자치도 서귀포시  126.568_33.236
1  126.562  33.235  지명관련    새섬  제주특별자치도 서귀포시  126.562_33.235

(77, 4) (77, 4) (51, 3) (65772, 6)

In [84]:
df_12=pd.merge(df_1,df_2,how='outer',left_on='관광지명',right_on='관광지명')

In [85]:
display(df_12.head(2),df_35.head(2),df_4.head(2))
print(df_12.shape,df_35.shape,df_4.shape)

       lng     lat       관광지명          주소_x          주소_y    분류   합산 검색 수
0  126.563  33.249  서귀포매일올레시장  제주특별자치도 서귀포시  제주특별자치도 서귀포시    시장  267930.0
1  126.492  33.507     제주국제공항   제주특별자치도 제주시   제주특별자치도 제주시  교통시설  803524.0

        관광지명  내국인 관광객수  외국인 관광객수
0  주제주미니미니랜드       0.0      0.00
1      감귤박물관   10366.0    178.75

       lng     lat    구분   장소명           소재지         lng_lat
0  126.568  33.236  교통시설  동방파제  제주특별자치도 서귀포시  126.568_33.236
1  126.562  33.235  지명관련    새섬  제주특별자치도 서귀포시  126.562_33.235

(87, 7) (51, 3) (65772, 6)

### df_12

In [86]:
df_12.isna().sum()

lng        10
lat        10
관광지명        0
주소_x       10
주소_y       10
분류         10
합산 검색 수    10
dtype: int64

In [102]:
df_1212=df_12.copy()

In [96]:
yna_index=df_12[df_12['주소_y'].isna()].index
yna_values=df_12[df_12['주소_y'].isna()]['주소_x'].values

for i in range(len(yna_index)):
    df_12.at[yna_index[i],'주소_y']=yna_values[i]

In [101]:
df_12=df_12.drop(['주소_x'],axis=1).rename(columns={'주소_y':'주소'})

In [103]:
df_12.isna().sum()

lng        10
lat        10
관광지명        0
주소          0
분류         10
합산 검색 수    10
dtype: int64

In [111]:
df_1235=pd.merge(df_12,df_35,how='outer')

In [115]:
df_12345=pd.merge(df_1235,df_4,how='left',left_on='관광지명',right_on='장소명')

In [119]:
df_12345[np.logical_and(df_12345['lng_x'].isna(),df_12345['lng_y'].isna())]

,lng_x,lat_x,관광지명,주소,분류,합산 검색 수,내국인 관광객수,외국인 관광객수,lng_y,lat_y,구분,장소명,소재지,lng_lat
79,NaN,NaN,제주민속오일시장,제주특별자치도 제주시,시장,36767.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,운진항,제주특별자치도 서귀포시,자연경관(하천/해양),33175.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,모슬포항,제주특별자치도 서귀포시,자연경관(하천/해양),30388.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,삼양해수욕장,제주특별자치도 제주시,자연경관(하천/해양),28251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,NaN,주제주미니미니랜드,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,도립미술관,NaN,NaN,NaN,10507.083333,59.000000,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,마라해양도립공원,NaN,NaN,NaN,73070.250000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,만장굴관광지,NaN,NaN,NaN,47147.666667,6396.750000,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,삼양선사유적지,NaN,NaN,NaN,3934.750000,42.833333,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,서귀포도립해양공원,NaN,NaN,NaN,17201.250000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,아쿠아플라넷,NaN,NaN,NaN,68984.000000,6323.250000,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,제주도립김창열미술관,NaN,NaN,NaN,3522.250000,14.166667,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,제주목관아지,NaN,NaN,NaN,14180.833333,3289.583333,NaN,NaN,NaN,NaN,NaN,NaN
122,NaN,NaN,중문주상절리대,NaN,NaN,NaN,84886.250000,12601.416667,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,화락원,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

- 위도 경도가 없는 관광지를 중 이름 형식이 달라서 두개의 행으로 나타난 데이터 합치기
- 만장굴, 아쿠아플라넷, 주상절리대

In [136]:
df_12345[df_12345['관광지명'].str.contains('만장')]

,lng_x,lat_x,관광지명,주소,분류,합산 검색 수,내국인 관광객수,외국인 관광객수,lng_y,lat_y,구분,장소명,소재지,lng_lat
30,126.769,33.527,만장굴,제주특별자치도 제주시,자연생태,51560.0,NaN,NaN,126.771,33.529,관광/숙박,만장굴,제주특별자치도 제주시 구좌읍,126.771_33.529
93,NaN,NaN,만장굴관광지,NaN,NaN,NaN,47147.666667,6396.75,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
# 만장굴
df_12345.at[30,'내국인 관광객수']=df_12345.at[93,'내국인 관광객수']
df_12345.at[30,'외국인 관광객수']=df_12345.at[93,'외국인 관광객수']

In [138]:
df_12345[df_12345['관광지명'].str.contains('아쿠아')]

,lng_x,lat_x,관광지명,주소,분류,합산 검색 수,내국인 관광객수,외국인 관광객수,lng_y,lat_y,구분,장소명,소재지,lng_lat
14,126.927,33.432,아쿠아플라넷제주,제주특별자치도 서귀포시,테마공원,100131.0,NaN,NaN,126.927,33.432,문화/종교/예술,아쿠아플라넷제주,제주특별자치도 서귀포시 성산읍,126.927_33.432
106,NaN,NaN,아쿠아플라넷,NaN,NaN,NaN,68984.0,6323.25,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
# 아쿠아플라넷
df_12345.at[14,'내국인 관광객수']=df_12345.at[106,'내국인 관광객수']
df_12345.at[14,'외국인 관광객수']=df_12345.at[106,'외국인 관광객수']

In [140]:
df_12345[df_12345['관광지명'].str.contains('주상')]

,lng_x,lat_x,관광지명,주소,분류,합산 검색 수,내국인 관광객수,외국인 관광객수,lng_y,lat_y,구분,장소명,소재지,lng_lat
9,126.425,33.237,주상절리대,제주특별자치도 서귀포시,기타관광,83835.0,NaN,NaN,126.424,33.239,관광/숙박,주상절리대,제주특별자치도 서귀포시,126.424_33.239
122,NaN,NaN,중문주상절리대,NaN,NaN,NaN,84886.25,12601.416667,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
# 주상절리대
df_12345.at[9,'내국인 관광객수']=df_12345.at[122,'내국인 관광객수']
df_12345.at[9,'외국인 관광객수']=df_12345.at[122,'외국인 관광객수']

In [142]:
df_12345=df_12345.drop(index=[93,106,122],axis=0)

- 12개의 위도, 경도 정보가 없는 데이터는 구글맵을 통해 직접 찾아서 입력

In [145]:
df_12345_11=df_12345.copy()

In [146]:
df_12345[np.logical_and(df_12345['lng_x'].isna(),df_12345['lng_lat'].isna())]

,lng_x,lat_x,관광지명,주소,분류,합산 검색 수,내국인 관광객수,외국인 관광객수,lng_y,lat_y,구분,장소명,소재지,lng_lat
79,NaN,NaN,제주민속오일시장,제주특별자치도 제주시,시장,36767.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,운진항,제주특별자치도 서귀포시,자연경관(하천/해양),33175.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,모슬포항,제주특별자치도 서귀포시,자연경관(하천/해양),30388.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,삼양해수욕장,제주특별자치도 제주시,자연경관(하천/해양),28251.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,NaN,주제주미니미니랜드,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,도립미술관,NaN,NaN,NaN,10507.083333,59.000000,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,마라해양도립공원,NaN,NaN,NaN,73070.250000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,삼양선사유적지,NaN,NaN,NaN,3934.750000,42.833333,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,서귀포도립해양공원,NaN,NaN,NaN,17201.250000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
113,NaN,NaN,제주도립김창열미술관,NaN,NaN,NaN,3522.250000,14.166667,NaN,NaN,NaN,NaN,NaN,NaN
116,NaN,NaN,제주목관아지,NaN,NaN,NaN,14180.833333,3289.583333,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,NaN,화락원,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [159]:
lnglat=np.array([
[33.496817, 126.475259],
[33.209496, 126.258119],
[33.216464, 126.250557],
[33.526, 126.586868],
[33.433587, 126.673134],
[33.452525, 126.489865],
[33.117889, 126.267934],
[33.523266, 126.587638],
[33.239930, 126.558575],
[33.338354, 126.269115],
[33.513619, 126.522098],
[33.244206, 126.578773]
])

### 다른 컬럼의 내용 통합

In [147]:
nn_index=df_12345[np.logical_and(df_12345['lng_x'].isna(),df_12345['lng_lat'].isna())].index

In [155]:
nn_index=list(nn_index)

In [171]:
for i in range(len(nn_index)):
    lat,lng=lnglat[i]
    
    df_12345.at[nn_index[i],'lng_x']=lng
    df_12345.at[nn_index[i],'lat_x']=lat

In [173]:
df_final=df_12345

In [188]:
df_final=df_final.drop('lng_lat',axis=1)

In [195]:
nanx_index=df_final[np.logical_and(df_final['lng_x'].isna(),df_final['lat_x'].isna())].index

In [197]:
for nanindex in nanx_index:
    df_final.at[nanindex,'lng_x']=df_final.at[nanindex,'lng_y']
    df_final.at[nanindex,'lat_x']=df_final.at[nanindex,'lat_y']

In [200]:
df_final=df_final.drop(columns=['lng_y','lat_y'],axis=1)

In [201]:
df_final.isna().sum()

lng_x        0
lat_x        0
관광지명         0
주소          39
분류          49
합산 검색 수     49
내국인 관광객수    75
외국인 관광객수    75
구분          45
장소명         45
소재지         45
dtype: int64

In [212]:
df_final=df_final.drop('장소명',axis=1)

In [218]:
df_final[np.logical_and(df_final['주소'].isna(),df_final['소재지'].isna())]

,lng_x,lat_x,관광지명,주소,분류,합산 검색 수,내국인 관광객수,외국인 관광객수,구분,소재지
87,126.673134,33.433587,주제주미니미니랜드,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN
91,126.489865,33.452525,도립미술관,NaN,NaN,NaN,10507.083333,59.000000,NaN,NaN
92,126.267934,33.117889,마라해양도립공원,NaN,NaN,NaN,73070.250000,0.000000,NaN,NaN
98,126.587638,33.523266,삼양선사유적지,NaN,NaN,NaN,3934.750000,42.833333,NaN,NaN
100,126.558575,33.23993,서귀포도립해양공원,NaN,NaN,NaN,17201.250000,0.000000,NaN,NaN
113,126.269115,33.338354,제주도립김창열미술관,NaN,NaN,NaN,3522.250000,14.166667,NaN,NaN
116,126.522098,33.513619,제주목관아지,NaN,NaN,NaN,14180.833333,3289.583333,NaN,NaN
128,126.578773,33.244206,화락원,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN

In [220]:
df_final['소재지'].unique()

array(['제주특별자치도 서귀포시', '제주특별자치도 제주시', '제주특별자치도 서귀포시 성산읍',
       '제주특별자치도 제주시 한림읍', '제주특별자치도 제주시 조천읍', '제주특별자치도 서귀포시 안덕면',
       '제주특별자치도 제주시 애월읍', '제주특별자치도 제주시 구좌읍', nan, '제주특별자치도 서귀포시 남원읍',
       '제주특별자치도 제주시 한경면', '제주특별자치도 서귀포시 표선면', '제주특별자치도 서귀포시 대정읍'],
      dtype=object)

In [223]:
addrna_index=df_final[np.logical_and(df_final['주소'].isna(),df_final['소재지'].isna())].index

In [224]:
naddr=['제주특별자치도 제주시 조천읍',
'제주특별자치도 제주시',
'제주특별자치도 서귀포시 대정읍',
'제주특별자치도 제주시',
'제주특별자치도 서귀포시',
'제주특별자치도 제주시 한경면',
'제주특별자치도 제주시',
'제주특별자치도 서귀포시']

In [226]:
df_final_11=df_final.copy()

In [227]:
for i in range(len(addrna_index)):
    df_final.at[addrna_index[i],'소재지']=naddr[i]

In [235]:
df_final[df_final['소재지'].isna()]

,lng_x,lat_x,관광지명,주소,분류,합산 검색 수,내국인 관광객수,외국인 관광객수,구분,소재지
11,126.344,33.396,아르떼뮤지엄제주,제주특별자치도 제주시,전시시설,121863.0,NaN,NaN,NaN,NaN
19,126.170,33.341,신창풍차해안도로,제주특별자치도 제주시,데이트코스,79809.0,NaN,NaN,NaN,NaN
25,126.512,33.516,용두암,제주특별자치도 제주시,기타관광,65657.0,NaN,NaN,NaN,NaN
26,126.778,33.444,스누피가든,제주특별자치도 제주시,기타관광,97489.0,NaN,NaN,NaN,NaN
27,126.623,33.252,쇠소깍,제주특별자치도 서귀포시,기타관광,69785.0,NaN,NaN,NaN,NaN
29,126.796,33.555,월정리해변,제주특별자치도 제주시,자연경관(하천/해양),58431.0,NaN,NaN,NaN,NaN
32,126.648,33.415,한라산둘레길사려니숲길,제주특별자치도 제주시,기타레저스포츠,99890.0,NaN,NaN,NaN,NaN
34,126.899,33.439,빛의벙커,제주특별자치도 서귀포시,전시시설,36761.0,NaN,NaN,NaN,NaN
35,126.837,33.327,표선해수욕장,제주특별자치도 서귀포시,자연경관(하천/해양),56866.0,NaN,NaN,NaN,NaN
36,126.934,33.472,성산포종합여객터미널,제주특별자치도 서귀포시,교통시설,76867.0,NaN,NaN,NaN,NaN
37,126.301,33.226,사계해수욕장,제주특별자치도 서귀포시,자연경관(하천/해양),48751.0,NaN,NaN,NaN,NaN
38,126.861,33.525,세화해수욕장,제주특별자치도 제주시,자연경관(하천/해양),36179.0,NaN,NaN,NaN,NaN
39,126.366,33.390,981파크,제주특별자치도 제주시,테마공원,52209.0,NaN,NaN,NaN,NaN
41,126.943,33.502,홍조단괴해빈,제주특별자치도 제주시,NaN,NaN,NaN,NaN,NaN,NaN
42,126.967,33.497,검멀레해수욕장,제주특별자치도 제주시,NaN,NaN,NaN,NaN,NaN,NaN
44,126.455,33.464,노형수퍼마,제주특별자치도 제주시,기타문화관광지,43567.0,NaN,NaN,NaN,NaN
46,126.755,33.453,비밀의숲,제주특별자치도 제주시,기타레저스포츠,34595.0,NaN,NaN,NaN,NaN
49,126.942,33.509,하우목동항,제주특별자치도 제주시,NaN,NaN,NaN,NaN,NaN,NaN
50,126.950,33.492,천진항,제주특별자치도 제주시,NaN,NaN,NaN,NaN,NaN,NaN
52,126.472,33.509,도두동무지개해안도로,제주특별자치도 제주시,데이트코스,49059.0,NaN,NaN,NaN,NaN
54,126.310,33.458,한담해안산책로,제주특별자치도 제주시,기타레저스포츠,38693.0,NaN,NaN,NaN,NaN
56,126.315,33.301,제주신화월드,제주특별자치도 서귀포시,복합관광시설,44314.0,NaN,NaN,NaN,NaN
58,126.488,33.470,수목원길야시장,제주특별자치도 제주시,시장,31281.0,NaN,NaN,NaN,NaN
59,126.289,33.206,송악산둘레길,제주특별자치도 서귀포시,기타레저스포츠,29885.0,NaN,NaN,NaN,NaN
63,126.2,33.365,판포포구,제주특별자치도 제주시,자연경관(하천/해양),32023.0,NaN,NaN,NaN,NaN
64,126.753,33.413,보롬왓,제주특별자치도 서귀포시,기타관광,27492.0,NaN,NaN,NaN,NaN
65,126.370,33.300,뽀로로타요테마파크제주,제주특별자치도 서귀포시,테마공원,44824.0,NaN,NaN,NaN,NaN
66,126.841,33.322,제주민속촌,제주특별자치도 서귀포시,역사유적지,26740.0,NaN,NaN,NaN,NaN
67,126.628,33.436,제주절물자연휴양림,제주특별자치도 제주시,자연공원,35911.0,NaN,NaN,NaN,NaN
68,126.703,33.273,남원큰엉,제주특별자치도 서귀포시,NaN,NaN,NaN,NaN,NaN,NaN
72,126.271,33.285,제주곶자왈도립공원,제주특별자치도 서귀포시,NaN,NaN,NaN,NaN,NaN,NaN
74,126.743,33.424,제주워터서커스,제주특별자치도 제주시,NaN,NaN,NaN,NaN,NaN,NaN
76,126.452,33.501,이호랜드방파제등대,제주특별자치도 제주시,NaN,NaN,NaN,NaN,NaN,NaN
79,126.475259,33.496817,제주민속오일시장,제주특별자치도 제주시,시장,36767.0,NaN,NaN,NaN,NaN
80,126.258119,33.209496,운진항,제주특별자치도 서귀포시,자연경관(하천/해양),33175.0,NaN,NaN,NaN,NaN
81,126.250557,33.216464,모슬포항,제주특별자치도 서귀포시,자연경관(하천/해양),30388.0,NaN,NaN,NaN,NaN
83,126.586868,33.526,삼양해수욕장,제주특별자치도 제주시,자연경관(하천/해양),28251.0,NaN,NaN,NaN,NaN

In [236]:
nasojae=df_final[df_final['소재지'].isna()].index

In [238]:
df_final_11=df_final.copy()

In [239]:
for nanindex in nasojae:
    df_final.at[nanindex,'소재지']=df_final.at[nanindex,'주소']

In [242]:
df_final=df_final.drop('주소',axis=1)

In [256]:
naboon=df_final[np.logical_and(df_final['분류'].isna(),df_final['구분'].notna())].index

In [257]:
for naindex in naboon:
    df_final.at[naindex,'분류']=df_final.at[naindex,'구분']

In [260]:
df_final=df_final.drop('구분',axis=1)

In [261]:
df_final

,lng_x,lat_x,관광지명,분류,합산 검색 수,내국인 관광객수,외국인 관광객수,소재지
0,126.563,33.249,서귀포매일올레시장,시장,267930.0,NaN,NaN,제주특별자치도 서귀포시
1,126.492,33.507,제주국제공항,교통시설,803524.0,NaN,NaN,제주특별자치도 제주시
2,126.527,33.512,동문재래시장,시장,301089.0,NaN,NaN,제주특별자치도 제주시
3,126.941,33.458,성산일출봉,자연경관(산),195037.0,108279.333333,34046.75,제주특별자치도 서귀포시 성산읍
4,126.239,33.394,협재해수욕장,자연경관(하천/해양),186252.0,NaN,NaN,제주특별자치도 제주시 한림읍
...,...,...,...,...,...,...,...,...
124,126.415,33.243,퍼시픽랜드,관광/숙박,NaN,52274.083333,0.00,제주특별자치도 서귀포시
125,126.510,33.392,한라산국립공원,공원/산/동.식물원,NaN,63154.666667,7535.25,제주특별자치도 제주시
126,126.408,33.452,항몽유적지,관광/숙박,NaN,9459.916667,494.75,제주특별자치도 제주시 애월읍
127,126.863,33.523,해녀박물관,문화/종교/예술,NaN,11304.916667,2149.25,제주특별자치도 제주시 구좌읍
128,126.578773,33.244206,화락원,NaN,NaN,0.000000,0.00,제주특별자치도 서귀포시

In [262]:
df_final.to_csv('../siseol.csv',index=None)